/*==================== IMPORT GOOGLE FONTS ====================*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


/*================ DEFINITION OF VARIABLES ================*/
:root {
  /*__________ GLOBAL __________*/
  font-size: 16px; /*default is 16 but force in case of*/
  --zoom-factor: 1;

  /*__________ Z INDEXES __________*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;

  /*__________ MARGE __________*/
  --mb-0-25: .25rem;
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /*__________ COLOR __________*/

  --first-color: #3C4488;
  --first-color-second: hsl();
  --first-color-alt: #F7EB44;
  --first-color-lighter: #9DA1C3;
  --title-color: var(--first-color);
  --text-color: hsl(234, 24%, 18%);
  --text-color-light: hsl(234, 20%, 30%);
  --input-color: hsl(234, 70%, 88%);
  --body-color: hsl(234, 20%, 97%);
  --container-color:var(--body-color);
  --scroll-thumb-color: var(--first-color);
  --scroll-bar-color: var(--first-color-lighter);

  /*__________ FONT TYPOGRAPHY __________*/
  --body-font: "Montserrat", sans-serif;

  /*__________ FONT WEIGHT __________*/
  --font-thin: 100;
  --font-extra-light: 200;
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
  --font-extra-bold: 800;
  --font-black: 900;

  /*__________ FONT SIZE __________*/
  /* (mobile first) -> For small devices */
  --big-font-size: calc( 2rem * var(--zoom-factor));
  --h1-font-size: calc( 1.5rem * var(--zoom-factor));
  --h2-font-size: calc( 1.25rem * var(--zoom-factor));
  --h3-font-size: calc( 1.125rem  * var(--zoom-factor));
  --normal-font-size: calc( .9375rem  * var(--zoom-factor));
  --small-font-size: calc( .813rem  * var(--zoom-factor));
  --smaller-font-size: calc( .75rem  * var(--zoom-factor));
}
/* For large devices */
@media screen and (min-width: 968px) {
  :root {
    --giga-font-size: 6rem ;
    --big-font-size: calc(3rem * var(--zoom-factor));
    --h1-font-size: calc(2.25rem * var(--zoom-factor));
    --h2-font-size: calc(1.5rem  * var(--zoom-factor));
    --h3-font-size: calc(1.25rem  * var(--zoom-factor));
    --normal-font-size: calc(1rem  * var(--zoom-factor));
    --small-font-size: calc(.875rem  * var(--zoom-factor));
    --smaller-font-size: calc(.813rem  * var(--zoom-factor));
  }
}

/*==================== BASE ====================*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 var(--header-height) 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1, h2, h3, h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*________ SCROLL BAR ________*/
::-webkit-scrollbar{
  width: .60rem;
  background-color: var(--scroll-bar-color);
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb{
  background-color: var(--scroll-thumb-color);
  border-radius: .5rem;
}

::-webkit-scroll-thumb:hover{
  background-color: var(--text-color-light);
}


/*==================== REUSABLE CSS CLASSES ====================*/

/*__________ LAYOUT __________*/
.container {
  max-width: 768px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
  gap: 1.5rem;
}

/*__________ SECTIONS __________*/
.section {
  padding: 2rem 0 4rem;
}

.section__body {
  margin: 3rem auto 0;
}

.section__title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-3);
}

.section__title, 
.section__subtitle {
  text-align: center;
}

/*__________ BUTTONS __________*/
.button{
  display: inline-block;
  background-color: var(--first-color);
  color: var(--body-color);
  padding: 1rem;
  border-radius: .5rem;
  font-weight: var(--font-medium);
}

.button:hover{
  background-color: var(--first-color-alt);
}

.button__icon{
  font-size: 1.25rem;
  margin-left: var(--mb-0-5);
  transition: .3s;
}

.button--white{
  background-color: #fff;
  color: var(--first-color);
}

.button--white:hover{
  background-color: #fff;
}

.button--flex{
  display: inline-flex;
  align-items: center;
}

.button--small{
  padding: .75rem 1rem;
}

.button--link{
  padding: 0;
  background-color: transparent;
  color: var(--first-color);
}

.button--link:hover{
  background-color: transparent;
  color: var(--first-color-alt);
}

/*==================== MEDIA QUERIES ====================*/

/* For small devices */
@media screen and (max-width: 350px){}

/* For medium devices */
@media screen and (min-width: 568px){}
@media screen and (min-width: 761px){}
@media screen and (min-width: 768px){}

/* For large devices */
@media screen and (min-width: 968px){}
@media screen and (min-width:1024px){}