<nav id="menu">

    <div class="menu-banner">
        <button class="menu-button" data-controller="menu"> Menu</button>
        <img srcset= "{{ asset('pictures/white_wide_logo_250.webp') }} 250w, {{ asset('pictures/white_wide_logo_500.webp') }} 500w"
        sizes="(max-width: 568px) 250px, 500px"
        src={{ asset('pictures/white_wide_logo_500.webp') }}
        alt="logo de Combronde" >
    </div>


</nav>
