<nav id="menu">

    <button class="menu-button" data-controller="menu" data-action="menu#setMainToMenu"> Menu</button>

    <img srcset= "{{ asset('pictures/white_wide_logo_250.webp') }} 250w,
    {{ asset('pictures/white_wide_logo_500.webp') }} 500w"
    sizes="(max-width: 568px) 250px, 500px"
    src={{ asset('pictures/white_wide_logo_500.webp') }}
    alt="logo de Combronde" >


</nav>
