{% extends 'base.html.twig' %}

{% block title %}Hello PublicController!{% endblock %}

{% block body %}

    <h1>Hello {{ name }}! ✅</h1>

    <twig:Alert type="danger" message="Oh no! The dinos escaped!"/>
    {{component('Alert',{message:'aaaaaaaaaaaah'})}}

{% endblock %}
